<h1>Stupid Coaching</h1>
<div class = "selection" id="my-question">
  <p><%=@question%><br><em>-You</em></p>
</div >
<div class = "selection" id="coach-answer">
  <p><%=@answer%><br><em>-Your Coach</em></p>
</div>

<br>

<%= link_to "Ask a new question", "/ask", class: 'link' %>
